body, html {
  background: lightgray;
  height: 100%;
  color: #333333;
}

.scotch-panel-wrapper {
  position: relative;
  visibility: visible;
  display: block;
  overflow-y: auto !important;
  overflow-x: hidden;
}

span#radio__alphasort {
    position: absolute;
    bottom: -12px;
}

input#radio__alphasort {
    position: relative;
    top: 3px;
}

div#main-container {
    margin-top: -69px;
}

#btn-ToggleSearch,
#btn-SubmitSearch {
    position: relative;
    outline: 0;
    cursor: pointer;
    top: -5px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 1px;
}

#btn-SubmitSearch {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    position: relative;
    left: 118px;
    margin-top: 6px;
}

#btn-ToggleSearch {
    padding: 2px 5px;
    font-size: .85em;
    position: relative;
    top: -4px;
}

button#btn-XCloseSearch {
    background: none;
    border: none;
    outline: none;
    position: relative;
    transform: translateY(-32%);
    left: 88px;
    cursor: pointer;
    width: 21px;
    top: -25px;
}

#div-modal-input-and-button {
    text-align: center;
}

button.modalSubmit {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 3px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-top: 1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    height: 25px;
}

select#searchTypeDropdown {
    padding: 3px;
    position: relative;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    left: -15px;
    top: 29px;
}

fieldset {
    border: 0;
    display: inline-block;
    width: 94%;
    margin-left: 5px;
    margin-top: 10px;
}

input {
    padding-left: 2px;
}

input#input-Search {
    position: relative;
    top: 40px; /* -5px; */
    width: 147px;
}

.input-group {
    visibility: hidden;
    display: inline-block;
    position: relative;
    left: 51px;
}

iframe#chatbox {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hideCB {
  display: hidden;
}

.showCB {
  display: block !important;
}

.selectNumber {
  z-index: 99999999;
}

.hideForm {
  display: hidden !important;
}

.hideLinks {
  display: hidden !important;
}

.show-form {
  display: block;
}

.show-links {
  display: block;
}

div#form-submit {
  margin-top: 15px;
}

#btn-ToggleMenu {
    position: relative;
    outline: 0;
    cursor: pointer;
    top: -5px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: 1px;
}

#btn-ToggleLinks {
  position: relative;
  outline: 0;
  cursor: pointer;
  top: -5px;   
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#btn-ToggleCB {
  position: relative;
  outline: 0;
  cursor: pointer;
  top: -5px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-top: 1px;
}

#menu .fa {
  color: #333;
  font-size: .7em;
}

div#linkOutputHeader {
  pointer-events: none;
}

#offscreenMenuIcoTop {
  pointer-events: all;
}

.navbar-brand,
#navTxt {
  display: none;
}

#holderDiv {
  min-height: 100%;
  position: relative;
  display: block;
}

#usernameFoundOutput {
  border: 1px solid black;
  margin: 0 auto;
  width: 80%;
}

.userListed {
  display: none;
}

.input-comment {
    display: block;
    background: #FFFFFF;
    margin-top: 2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 25px;
    padding-right: 111px;
    padding-left: 111px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: none !important;
}

.disabledIco {
  cursor: default;
}

.authorDescribe {
  color: #333333;
  text-decoration: none;
  position: relative;
  left: -1px;
}

.authorDescribe:hover {
  text-decoration: underline;
}

.input-comment {
  display: block;
  background: #FFFFFF;
  margin-top: 2px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 345px;
  height: 25px;
  width: 75%;
}

a#a-prev-comments {
    float: right;
    margin-right: 22px;
    color: #333333;
    position: relative;
    top: 14px;
    display: none;
}

.noCommentsTxt {
  margin-left: 5px;
}



div#modal-form__wrapper-bottom {
    width: 100%;
}




#dialog-form {
    background: #D7D7D7;
    position: absolute;
    padding-top: 5px;
    padding-right: 10px;
    min-height: 155px;
    width: 450px;
    border: 1px solid #333333;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translateX(25%);
}

.postCatIcon {
    position: absolute;
    padding-top: 1px;
}

.timestamp {
  position: relative;
}

#div-comment-output {
  background: #D3D3D3;
  display: block;
  overflow: auto;
  border: 1px solid #333333;
  width: 100%;
  min-height: 100px;
  max-height: 365px;
  width: 100%;
  padding: 16px 0 0 0;
  border-top-right-radius:    4px;
  border-top-left-radius:     4px;
  border-bottom-left-radius:  4px;
  border-bottom-right-radius: 4px;
}

button.btn-xclose-modal__del-comment {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    left: 97%;
    transform: translate(-50%,-50%);
}

.div-comment-output__span {
    padding-left: 10px;
    padding-right: 34px;
    border: 1px solid #333333;
    margin-left: 3px;
    border-top-right-radius: 21px;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 4px;
    min-height: 35px;
    background: #FFFFFF;
}

p#charCountWrapper {
    margin: 0;
    padding: 0;
    float: right;
}

.killCursor {
  cursor: default;
}

.subcontainer {
  position: relative;
  top: -4px;
  height: 30px;
  width: 100px;
}

#nonAlphanumErr {
  font-size: .925em;
  font-weight: bold;
}

.fa-heart,
.fa-heart-o {
    font-size: .83em !important;
    top: -14px;
}

.fa.fa-film {
  position: relative;
  top: -2px;
  margin-right: 7px;
  font-size: .7em !important;
  margin-left: -1px;
}

.fa-heart:hover,
.fa-heart-o:hover {
  text-decoration: underline;
}

#offscreenMenuIcoTop {
    position: relative;
    margin-bottom: 4px;
    left: 665px;
    cursor: pointer;
}

img#firebase-ico:hover {
  cursor: pointer;
}

#emailChgBodyDialog,
#passResetErrTxt {
  font-size: .925em;
  font-weight: bold;
}

.chgEmailBtnCancel:hover {
  border-color: darkred !important;
  color: red !important;
}

.cancelDialogBtn:hover {
  border-color: darkred !important;
  color: red !important;
}

.partitionDot {
  position: relative;
}

.likeCount {
    position: relative;
    top: -3px;
    font-size: .73em;
    left: 79px;
}

#likeIcoWrap,
.likeIcoWrap {
    position: relative;
    left: 565px;
    top: -15px;
    height: 16px;
    width: 93px;
}

.likeIco {
  position: absolute;
  left: 57px;
  height: 13px;
  width: 28px;
  top: -1px;
  margin-left: 7px;
}

#confirmDeleteDialog {
  display: none;
}

#confirmDelDialogBody {
  font-size: .925em;
  font-weight: bold;
}

#newPostAuthor {
  position: relative;
  float: right;
  top: -4px;
  right: -8px;
}

#validName {
  position: relative;
  top: 28px;
  left: 16px;
  font-size: .72em;
  font-weight: bold;
  color: #a9d4a9;
  display: none;
}

#secondBorderDiv {
  position: relative;
  top: 8px;
  height: 60px;
  border-radius: 4px;
  width: 259px;
}

#curUserLabel {
    position: relative;
    font-size: .6em;
    left: 4px;
    background: #EFEFEF;
    top: 13px;
    font-weight: bold !important;
}

#usernameDiv {
  position: relative;
  top: -8px;
}

#invalidName {
  position: relative;
  top: 28px;
  left: -1px;
  font-size: .72em;
  font-weight: bold;
  color: #e73732;
  color: #a5364f;
  display: none;
}

input#newEmailInput {
  outline-width: 0px;
}

input#newUsernameInput {
  position: relative;
  top: 29px;
  left: 1px;
  outline-width: 0px !important;
  color: #333333;
  font-size: .85em;
  padding-left: 5px;
  width: 175px;
}

#label__InputComment {
  display: block;
  font-weight: bold;
  margin-top: 13px;
  margin-bottom: -2px;
}

.stretch-Input-Comment {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 65px !important;
}

.stretch-Btn-SubmitModal {
  height: 65px !important;
  padding-top:  0;
  padding-left: 0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding-left: 1px !important;
}
::-moz-placeholder { /* Firefox 19+ */
  padding-left: 1px !important;
}
:-ms-input-placeholder { /* IE 10+ */
  padding-left: 1px !important;
}
:-moz-placeholder { /* Firefox 18- */
  padding-left: 1px !important;
}

#errDialogBody {
  font-size: .95em;
  font-weight: bold;
}

.ui-button,
.ui-button-text,
.ui-button-icon-only,
.ui-button-text,
.ui-button-icons-only,
.ui-button-text {
  outline-width: 0 !important;
}

.redErrorTxt {
  color: #C12E2A !important;
}


#checkCurUsernameDiv {
  position: relative;
  top: 4px;
  padding-left: 1px;
  border: 1px solid #333333;
  height: 50px;
  width: 254px;
  background: #FFFFFF;
  border-radius: 4px;
}

#curUsername {
  position: relative;
  top: 5px;
  left: 4px;
  font-size: .85em;
  color: #333333;
}

#curUserLabel {
  font-weight: bold !important;
  opacity: 1;
}

#smbAboutDialog {
  display: none;
}

#dispLinksDiv {
  position: relative;
  top: 6px;
  outline: 1px solid black;
  width: 685px;
  padding: 5px 3px 5px 3px;
  background: #FFFFFF;
  padding-bottom: 22px;
  margin-bottom: 15px;
  left: 2px;
}

#firebase-ico-divFooter {
  position: absolute;
  float: right;
  bottom: 2px;
  right: 0;
  padding-right: 3px;
  padding-top: 2px;
  margin-top: -2px;
  margin-bottom: 2px;
}

.ico-comment {
    position: absolute;
    left: 25px;
    top: -4px;
    width: 33px;
    margin-left: 2px;
}

.scotch-panel-canvas {
  left: 5px !important;
}

#emptyFieldErrBody {
  font-size: .92em;
  margin-bottom: -10px;
}

#togglePanel {
  font-family: 'Cantarell', 'Fjalla One', sans-serif !important;
  position: relative;
  top: -121px !important;
  border: 1px solid #333333;
  background: #FFFFFF;
  top: 5px !important;
  left: -134px !important;
  text-align: center;
  height: 545px !important;
  width: 125px !important;
}

.selectNumber {
  position: absolute;
  color: #e6e6e6;
  background: #333333;
  width: 80px;
  text-align: center;
  font-size: .8em;
  padding-bottom: 7px;
  font-family: 'Cantarell', 'Fjalla One', sans-serif;
  left: 605px;
  margin-top: -60px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 2s;
  pointer-events: none;
}

.fadeIn {
  opacity: 1;
}

.okBtn {
  text-align: center;
  position: relative;
  left: -50px;
  width: 150px;
}

.okBtn2 {
  text-align: center;
  position: relative;
  left: -77px;
  width: 150px;
}

.okBtnLg {
  text-align: center;
  position: relative;
  left: -250px;
  width: 150px;
  margin: 0 auto;
}

#curEmailDivWrapper {
  font-size: .65em;
}

#curEmailTxt {
  font-size: 1.35em !important;
}

#invalidEmailErrBody {
  font-size: .9em;
  margin-bottom: -20px;
  font-weight: bold;
}

#genErrDialogBody {
  font-size: .9em;
}

input#newEmailInput {
  padding-left: 5px;
  width: 238px !important;
}

#curEmailOutput {
    padding-left: 5px;
    position: relative;
    top: 1px;
    font-weight: bold;
}

#curEmailDispBox {
  height: 40px;
  width: 248px;
  padding-left: 6px;
  margin-bottom: 28px;
  border: 1px solid #333333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'Cantarell', sans-serif;
  background: #FFFFFF;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-size: .8em;
position: relative;
font-weight: bold;
font-family: 'Cantarell', sans-serif;
}

::-moz-placeholder { /* Firefox 19+ */
  font-size: .8em;
  font-weight: bold;
  font-family: 'Cantarell', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: .8em;
  font-weight: bold;
  font-family: 'Cantarell', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: .8em;
  font-weight: bold;
  font-family: 'Cantarell', sans-serif;
}

.addChgUNameBtn {
  position: relative;
  width: 100px;
}

.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle {
    border: none;
}

.ui-dialog,.ui-widget,
.ui-widget-content,
.ui-corner-all,
.ui-draggable,
.ui-resizable {
  background: #D3D3D3;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border: 1px solid #b7b2b2;
    background: #FFF 50% 50% repeat-x;
    font-weight: bold;
    color: #333333 !important;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable {
    border: 1px solid #D9D9D9;
}

.ui-dialog .ui-dialog-title {
    border-bottom: 1px solid #DDDDDD;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    content: "";
    display: block;
    margin: 0 auto 0 -6px;
    width: 100%;
    padding-bottom: 5px;
}

#deleteRestrictedDialogBody {
  font-weight: bold;
  font-size: .95em;
  margin-top: -12px;
  margin-bottom: -12px;
}


#title {
  padding: .25em 1em 1em 1em;
}

.firstOptionDD {
  font-size: .1em;
  color: #333333;
}

.slideMenuBtn {
  cursor: pointer;
  margin-bottom: 6.14px;
  font-size: 1.15em !important;
  font-weight: bold;
  width: 125px;
  height: 15.6666667%;
  color: #FFFFFF;
  border: 2.75px solid #333333;
  -moz-box-shadow: inset -11px -11px 23px -14px rgba(0,0,0,0.75), inset 13px 14px 8px -12px rgba(220,220,220,1), inset 22px 22px 59px -14px rgba(220,220,220,0.54), 1px 1px 3px 1px rgba(227,227,227,1), 1px -1px 3px 1px rgba(227,227,227,1);
  -webkit-box-shadow: inset -11px -11px 23px -14px rgba(0,0,0,0.75), inset 13px 14px 8px -12px rgba(220,220,220,1), inset 22px 22px 59px -14px rgba(220,220,220,0.54), 1px 1px 3px 1px rgba(227,227,227,1), 1px -1px 3px 1px rgba(227,227,227,1);
  box-shadow: inset -11px -11px 23px -14px rgba(0,0,0,0.75), inset 13px 14px 8px -12px rgba(220,220,220,1), inset 22px 22px 59px -14px rgba(220,220,220,0.54), 1px 1px 3px 1px rgba(227,227,227,1), 1px -1px 3px 1px rgba(227,227,227,1);
}

.slideMenuBtn:hover {
  color: #7f848a !important;
  -webkit-box-shadow: inset -11px -11px 23px -14px rgba(220,220,220,1), inset 13px 14px 6px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -11px -11px 23px -14px rgba(220,220,220,1), inset 13px 14px 6px -13px rgba(0,0,0,0.75);
  box-shadow: inset -11px -11px 23px -14px rgba(220,220,220,1), inset 13px 14px 6px -13px rgba(0,0,0,0.75);
  background-color: #7f808a !important;
}

.slideMenuBtn:hover,
.slideMenuBtn:focus,
.slideMenuBtn:active,
.slideMenuBtn.active,
.open .dropdown-toggle.slideMenuBtn {
  color: #FFFFFF;
  border-color: #333333;
}

.slideMenuBtn:active,
.slideMenuBtn.active,
.open .dropdown-toggle.slideMenuBtn {
  background-image: none;
}

#wrapper__input-comment {
    margin-top: 15px;
    margin-bottom: -15px;
}

.slideMenuBtn.disabled,
.slideMenuBtn[disabled],
fieldset[disabled] .slideMenuBtn,
.slideMenuBtn.disabled:hover,
.slideMenuBtn[disabled]:hover,
fieldset[disabled] .slideMenuBtn:hover,
.slideMenuBtn.disabled:focus,
.slideMenuBtn[disabled]:focus,
fieldset[disabled] .slideMenuBtn:focus,
.slideMenuBtn.disabled:active,
.slideMenuBtn[disabled]:active,
fieldset[disabled] .slideMenuBtn:active,
.slideMenuBtn.disabled.active,
.slideMenuBtn[disabled].active,
fieldset[disabled] .slideMenuBtn.active {
  background-color: #D3D3D3;
  border-color: #333333;
}

.slideMenuBtn .badge {
  color: #D3D3D3;
  background-color: #FFFFFF;
}

.sldMenuTxt {
  text-shadow: rgba(255, 255, 255, 0.0980392) 0.2px -0.2px 0.2px, rgba(0, 0, 0, 0.498039) 0.25px -0.25px 0.25px
}

.menuTxtStyle {
  position: relative;
  right: -3px;
}

#offscreenMenuIco {
  color: black;
  float: left;
  position: relative;
  top: 1px;
  left: -574px;
  cursor: pointer;
}

.xDataDismiss {
  font-size: 1.3em;
  font-weight: bold;
  float: right;
  outline: none;
  border: none;
  background: none;
  top: -40px;
  position: relative;
  color: #333333;
  cursor: pointer;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.fa-cloud-upload {
  font-size: .98em !important;
}

#submitButton {
  cursor: pointer;
}

#titleLink,
#titleLink:hover,
#titleLink:active,
#titleLink:visited {
  color: #333333;
  text-decoration: none;
}

#titleLink h1 {
  margin-bottom: 0;
  margin-top: 5px;
  padding-bottom: 0;
  margin-bottom: -15px;
}

#titleLink h2 {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;
}

input, #submitButton {
  font-size: .75em;
  font-family: 'Cantarell', sans-serif;
  border-radius: 5px;
}

#selectTypeButton {
  position: relative;
  top: 0;
}

#selectTypeButton,
#refreshButton {
  position: relative;
  height: 22px;
  border-radius: 5px;
  outline-width: 0;
}

#refreshButton {
  height: 23px;
}

#refreshButton {
  left: 39px;
}

#selectTypeButton {
  font-size: .7em; /* .925em; */
}

#menu {
    position: absolute;
    top: 151px;
    width: 185px;
    display: none;
    z-index: 999999999;
    left: 274px;
}

.yle {
  color: #333333 !important;
}

.fa-asterisk,
.fa-bar-chart,
.fa-newspaper-o,
.fa-object-group {
  position: relative;
  font-size: .55em;
  top: -2px;
  left: -1px;
  margin-right: 9px;
  color: #0f2a88;
}

.fa-newspaper-o {
  margin-right: 9px;
}

.fa-asterisk {
  left: 0;
  margin-right: 11px;
}

.ui-icon-video {
  margin-right: 10px;
}

.fa-lightbulb-o {
  position: relative;
  font-size: .7em;
  top: -1px;
  left: 2px;
  margin-right: 13px;
  color: #0f2a88;
}

.fa-university,
.fa-line-chart,
.fa-futbol-o {
    position: relative;
    top: -2px;
    font-size: .55em;
    margin-right: 9px;
    color: #0f2a88;
}

.fa-futbol-o {
  margin-right: 10px;
}

.postedLink {
    position: relative;
    font-size: .75em !important;
    color: #333333;
    left: -5px !important;
}

.postedComment {
    position: relative;
    border: 1px solid #333333;
    border-top-right-radius: 21px;
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    margin-bottom: -40px;
    margin-left: 5px;
    background: #FFFFFF;
    margin-right: 5px;
    padding: 6px;
    min-height: 17px;
}

.menuItemWrap {
  position: relative;
  font-size: .85em;
  
}

.menuEntTxt {
  position: relative;
}

.fa.fa-refresh {
  font-size: 1.025em;
}

#newPostAuthor:hover {
    text-decoration: underline;
}

.linkoutputdiv {
  border: 1px solid black;
  margin-bottom: 5px;
  padding-left: 1px;
  cursor: pointer;
}

i.fa.fa-comment-o:hover {
    text-decoration: underline;
}

.linkoutputdiv:hover {
  background: lightgray !important;
  border-left: 4px solid #333333 !important;
}

.activeOutputDiv {
  background: lightgray;
  border-left: 4px solid #333333;
}

.divTitle a,
.divTitle a:visited,
.divTitle a:hover,
.divTitle a:active {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-decoration: none;
  color: #333333;
}

.divBody a {
  position: relative;
  top: -5px;  
  left: -1px;
  z-index: 0;
  font-family: 'Cantarell', sans-serif;
  text-transform: lowercase;
  text-decoration: none;
  font-size: .915em;
  color: #333333;
}

.underlined {
  text-decoration: underline;
}

.divBody a:hover {
  text-decoration: underline;
}

.h3items {
  text-decoration: none !important;
  margin-top: 4px;
  margin-bottom: 0;
  padding-left: 2px;
}

.divbody {
  position: relative;
  margin-top: 4px;
  padding-left: 5px;
}
