.scotch-panel-wrapper {
  position: relative;
  visibility: visible;
  display: block;
  overflow-y: auto !important;
  overflow-x: hidden;
}

body, html {
  background: lightgray;
  height: 100%;
  color: #333333;
}

#holderDiv {
  min-height: 100%;
  position: relative;
}

#usernameFoundOutput {
  border: 1px solid black;
  margin: 0 auto;
  width: 80%;
}

.userListed {
  display: none;
}

.disabledIco {
  cursor: default;
}

.authorDescribe {
  color: #333333;
  text-decoration: none;
  position: relative;
  left: -1px;
}

.authorDescribe:hover {
  text-decoration: underline;
}

.postCatIcon {
  margin-right: -23px;
}

.timestamp {
    position: relative;
}

.killCursor {
  cursor: default;
}

.subcontainer {
  position: relative;
  top: -4px;
  height: 30px;
  width: 100px;
}

#nonAlphanumErr {
  font-size: .925em;
  font-weight: bold;
}

.fa-heart,
.fa-heart-o {
  position: relative;
  font-size: .83em !important;
  top: 4px;
  top: -17px;
  left: 2px;
  left: 36px;
  z-index: 9999999;
}

.fa.fa-film {
  position: relative;
  top: -2px;
  margin-right: 7px;
  font-size: .7em !important;
}

.fa-heart:hover,
.fa-heart-o:hover {
  text-decoration: underline;
}

#offscreenMenuIcoTop {
    position: relative;
    margin-bottom: 4px;
    left: 665px;
    cursor: pointer;
}

img#firebase-ico:hover {
  cursor: pointer;
}

#emailChgBodyDialog,
#passResetErrTxt {
  font-size: .925em;
  font-weight: bold;
}

.chgEmailBtnCancel:hover {
  border-color: darkred !important;
  color: red !important;
}

.okBtn:hover {
  border: green !important;
}

.partitionDot {
  position: relative;
  //top: -19px;
  //padding: 0 8px 0 10px;
  //margin-left: 10px;
}

.likeCount {
    position: relative;
    top: -37px;
    font-size: .73em;
    left: 40px;
}

#likeIcoWrap,
.likeIcoWrap {
    position: relative;
    left: 605px;
    top: -15px;
    height: 13px;
    width: 28px;
}

.likeIco {
    position: relative;
    left: -15px;
    height: 20px;
    width: 50px;
}

#confirmDeleteDialog {
  display: none;
}

#confirmDelDialogBody {
    font-size: .925em;
    font-weight: bold;
}

#newPostAuthor {
  position: relative;
  float: right;
  top: -4px;
  right: -8px;
}

#validName {
  position: relative;
  top: 28px;
  left: 16px;
  font-size: .72em;
  font-weight: bold;
  color: #a9d4a9;
  display: none;
}

#secondBorderDiv {
  position: relative;
  top: 8px;
  height: 60px;
  border-radius: 4px;
  width: 259px;
}

#curUserLabel {
    position: relative;
    font-size: .6em;
    left: 4px;
    background: #EFEFEF;
    top: 13px;
    font-weight: bold !important;
}

#usernameDiv {
  position: relative;
  top: -8px;
}

#invalidName {
  position: relative;
  top: 28px;
  left: -1px;
  font-size: .72em;
  font-weight: bold;
  color: #e73732;
  color: #a5364f;
  display: none;
}

input#newEmailInput {
  outline-width: 0px;
}

input#newUsernameInput {
  position: relative;
  top: 29px;
  left: 1px;
  outline-width: 0px !important;
  color: #333333;
  font-size: .85em;
  padding-left: 5px;
  width: 175px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding-left: 1px !important;
}
::-moz-placeholder { /* Firefox 19+ */
  padding-left: 1px !important;
}
:-ms-input-placeholder { /* IE 10+ */
  padding-left: 1px !important;
}
:-moz-placeholder { /* Firefox 18- */
  padding-left: 1px !important;
}

#errDialogBody {
  font-size: .95em;
  font-weight: bold;
}

.ui-button, .ui-button-text,.ui-button-icon-only, .ui-button-text, .ui-button-icons-only, .ui-button-text {
  outline-width: 0 !important;
}

.redErrorTxt {
  color: #C12E2A !important;
}

.biggerIco {
  font-size: 1.1em;
  position: relative;
  left: 4px !important;
}

#checkCurUsernameDiv {
  position: relative;
  top: 4px;
  padding-left: 1px;
  border: 1px solid #333333;
  height: 50px;
  width: 254px;
  background: #FFFFFF;
  border-radius: 4px;
}

#curUsername {
  position: relative;
  top: 5px;
  left: 4px;
  font-size: .85em;
  color: #333333;
}

#curUserLabel {
  font-weight: bold !important;
  opacity: 1;
}

#smbAboutDialog {
  display: none;
}

#dispLinksDiv {
  position: relative;
  top: 6px;
  outline: 1px solid black;
  width: 685px;
  padding: 5px 3px 5px 3px;
  background: #FFFFFF;
  padding-bottom: 22px;
  margin-bottom: 15px;
}

#firebase-ico-divFooter {
  position: absolute;
  float: right;
  bottom: 2px;
  right: 0;
  padding-right: 3px;
  padding-top: 2px;
  margin-top: -2px;
  margin-bottom: 2px;
}

.scotch-panel-canvas {
  left: 5px !important;
}

#newPostAuthor {
  //z-index: 100;
}

#emptyFieldErrBody {
  font-size: .92em;
  margin-bottom: -10px;
}

#togglePanel {
  font-family: 'Cantarell', 'Fjalla One', sans-serif !important;
  position: relative;
  top: -121px !important;
  border: 1px solid #333333;
  background: #FFFFFF;
  top: -98px !important;
  left: -134px !important;
  text-align: center;
  height: 545px !important;
  width: 125px !important;
}

.selectNumber {
  position: absolute;
  color: #e6e6e6;
  background: #333333;
  width: 80px;
  text-align: center;
  font-size: .8em;
  padding-bottom: 7px;
  font-family: 'Cantarell', 'Fjalla One', sans-serif;
  //z-index: 999999;
  left: 605px;
  margin-top: -60px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 2s;
  pointer-events: none;
}

.fadeIn {
  opacity: 1;
}

.okBtn {
  text-align: center;
  position: relative;
  left: -50px;
  width: 150px;
}

.okBtn2 {
  text-align: center;
  position: relative;
  left: -77px;
  width: 150px;
}

.okBtnLg {
  text-align: center;
  position: relative;
  left: -250px;
  width: 150px;
  margin: 0 auto;
}

#curEmailDivWrapper {
  font-size: .65em;
}

#curEmailTxt {
  font-size: 1.35em !important;
}

#invalidEmailErrBody {
  font-size: .9em;
  margin-bottom: -20px;
  font-weight: bold;
}

#genErrDialogBody {
  font-size: .9em;
}

input#newEmailInput {
  padding-left: 5px;
  width: 238px !important;
}

#curEmailOutput {
    padding-left: 5px;
    position: relative;
    top: 1px;
    font-weight: bold;
}

#curEmailDispBox {
  height: 40px;
  width: 248px;
  padding-left: 6px;
  margin-bottom: 28px;
  border: 1px solid #333333;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: 'Cantarell', sans-serif;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-size: .8em;
position: relative;
font-weight: bold;
font-family: 'Cantarell', sans-serif;
}

::-moz-placeholder { /* Firefox 19+ */
  font-size: .8em;
  font-weight: bold;
  font-family: 'Cantarell', sans-serif;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: .8em;
  font-weight: bold;
  font-family: 'Cantarell', sans-serif;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: .8em;
  font-weight: bold;
  font-family: 'Cantarell', sans-serif;
}

.addChgUNameBtn {
  position: relative;
  width: 100px;
}

#deleteRestrictedDialogBody {
  font-weight: bold;
  font-size: .95em;
  margin-bottom: -12px;
}

.firstOptionDD {
  font-size: .1em;
  color: #333333;
}

.slideMenuBtn {
  cursor: pointer;
  margin-bottom: 6.14px;
  font-size: 1.15em !important;
  font-weight: bold;
  width: 125px;
  height: 15.6666667%;
  background-color: #DEEDF7 !important;
  border-color: #D3D3D3;
  color: #FFFFFF;
  background-color: #D3D3D3;
  background-color: #e0f7f7 !important;
  background-color: #ecfafa	!important;
  border: 2.75px solid #333333;
  -moz-box-shadow: inset -11px -11px 23px -14px rgba(0,0,0,0.75), inset 13px 14px 8px -12px rgba(220,220,220,1), inset 22px 22px 59px -14px rgba(220,220,220,0.54), 1px 1px 3px 1px rgba(227,227,227,1), 1px -1px 3px 1px rgba(227,227,227,1);
  -webkit-box-shadow: inset -11px -11px 23px -14px rgba(0,0,0,0.75), inset 13px 14px 8px -12px rgba(220,220,220,1), inset 22px 22px 59px -14px rgba(220,220,220,0.54), 1px 1px 3px 1px rgba(227,227,227,1), 1px -1px 3px 1px rgba(227,227,227,1);
  box-shadow: inset -11px -11px 23px -14px rgba(0,0,0,0.75), inset 13px 14px 8px -12px rgba(220,220,220,1), inset 22px 22px 59px -14px rgba(220,220,220,0.54), 1px 1px 3px 1px rgba(227,227,227,1), 1px -1px 3px 1px rgba(227,227,227,1);
}

.slideMenuBtn:hover {
  color: #cecaca !important;
  color: #7f848a !important;
  -webkit-box-shadow: inset -11px -11px 23px -14px rgba(220,220,220,1), inset 13px 14px 6px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -11px -11px 23px -14px rgba(220,220,220,1), inset 13px 14px 6px -13px rgba(0,0,0,0.75);
  box-shadow: inset -11px -11px 23px -14px rgba(220,220,220,1), inset 13px 14px 6px -13px rgba(0,0,0,0.75);
  background-color: #7f808a !important;
}

.slideMenuBtn:hover,
.slideMenuBtn:focus,
.slideMenuBtn:active,
.slideMenuBtn.active,
.open .dropdown-toggle.slideMenuBtn {
  color: #FFFFFF;
  border-color: #333333;
}

.slideMenuBtn:active,
.slideMenuBtn.active,
.open .dropdown-toggle.slideMenuBtn {
  background-image: none;
}

.slideMenuBtn.disabled,
.slideMenuBtn[disabled],
fieldset[disabled] .slideMenuBtn,
.slideMenuBtn.disabled:hover,
.slideMenuBtn[disabled]:hover,
fieldset[disabled] .slideMenuBtn:hover,
.slideMenuBtn.disabled:focus,
.slideMenuBtn[disabled]:focus,
fieldset[disabled] .slideMenuBtn:focus,
.slideMenuBtn.disabled:active,
.slideMenuBtn[disabled]:active,
fieldset[disabled] .slideMenuBtn:active,
.slideMenuBtn.disabled.active,
.slideMenuBtn[disabled].active,
fieldset[disabled] .slideMenuBtn.active {
  background-color: #D3D3D3;
  border-color: #333333;
}

.slideMenuBtn .badge {
  color: #D3D3D3;
  background-color: #FFFFFF;
}

.sldMenuTxt {
  text-shadow: rgba(255, 255, 255, 0.0980392) -1px -1px 1px, rgba(0, 0, 0, 0.498039) 1px 1px 1px;
}

.menuTxtStyle {
  position: relative;
  right: -3px;
}

#offscreenMenuIco {
  color: black;
  float: left;
  position: relative;
  top: 1px;
  left: -574px;
  cursor: pointer;
}

.xDataDismiss {
  font-size: 1.3em;
  font-weight: bold;
  float: right;
  outline: none;
  border: none;
  background: none;
  top: -40px;
  position: relative;
  color: #333333;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.fa-cloud-upload {
  font-size: .98em !important;
}

#submitButton {
  cursor: pointer;
}

#titleLink,
#titleLink:hover,
#titleLink:active,
#titleLink:visited {
  color: #333333;
  text-decoration: none;
}

input, #submitButton {
  font-size: .75em;
  font-family: 'Cantarell', sans-serif;
  border-radius: 5px;
}

#selectTypeButton,
#refreshButton {
  position: relative;
  height: 23px;
  width: 30px;
  border-radius: 5px;
  outline-width: 0;
}

#refreshButton {
  left: 39px;
}

#selectTypeButton {
  font-size: .925em;
}

#menu {
    position: absolute;
    top: 85px;
    width: 185px;
    display: none;
    z-index: 999999999;
    left: 270px;
}

.yle {
  color: #333333 !important;
}

.fa-asterisk,
.fa-bar-chart,
.fa-newspaper-o,
.fa-object-group {
  position: relative;
  font-size: .55em;
  top: -2px;
  left: -1px;
  margin-right: 9px;
  color: #0f2a88;
}

.fa-newspaper-o {
  margin-right: 9px;
}

.fa-asterisk {
  left: 0;
  margin-right: 11px;
}

.ui-icon-video {
  margin-right: 10px;
}

.fa-lightbulb-o {
  position: relative;
  font-size: .7em;
  top: -2px;
  left: 2px;
  margin-right: 13px;
  color: #0f2a88;
}

.fa-university,
.fa-line-chart,
.fa-futbol-o {
    position: relative;
    top: -2px;
    font-size: .55em;
    margin-right: 9px;
    color: #0f2a88;
}

.fa-futbol-o {
  margin-right: 10px;
}

.postedLink {
  position: relative;
  top: -1px;
  font-size: .75em;
  color: #333333;
  left: -30px !important;
}

.menuItemWrap {
  position: relative;
}

.menuEntTxt {
  position: relative;
}

.fa.fa-refresh {
  position: relative;
  left: -1px;
  font-size: 1.025em;
}

#newPostAuthor:hover {
    text-decoration: underline;
}

.linkoutputdiv {
  border: 1px solid black;
  margin-bottom: 5px;
  padding-left: 1px;
  cursor: pointer;
}

.linkoutputdiv:hover {
  background: lightgray;
  border-left: 4px solid #000000;
}

.divTitle a,
.divTitle a:visited,
.divTitle a:hover,
.divTitle a:active {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-decoration: none;
  color: #333333;
}

.divBody a {
  position: relative;
  top: -5px;
  left: -1px;
  z-index: 10;
  font-family: 'Cantarell', sans-serif;
  text-transform: lowercase;
  text-decoration: none;
  font-size: .915em;
  color: #333333;
}

.underlined {
  text-decoration: underline;
}

.divBody a:hover {
  text-decoration: underline;
}

.h3items {
  text-decoration: none !important;
  margin-top: 4px;
  margin-bottom: 0;
  padding-left: 3px;
}

.divbody {
  position: relative;
  margin-top: 4px;
  padding-left: 5px;
}
